/*
**** Estilo arquivo index ****
*/

body{
    background-color: #f4f4f4;
    color: #142147;
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 0.95em;
}
/*h2 {
    margin: 25px;
}

 Estilo cabeçalho */

header{
    background-color: #2E5DA3;
    color: white;
    padding-bottom: 15px;
}
.clear{
    clear: both;
}
#textocabecalho{
    margin-left: 20px;
    margin-top: 7px;
    width: 1000px;
    float: left;
}
#textocabecalho h1 {
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 140px;
}
#imagemusuario{
    position: absolute;
    left: 50px;
    top: 17px;
    z-index: 1;
}
#botaoConfiguracao{
    font-size: 1.7em;
    margin-right: 3%;
    margin-top: 3.5%;
    width: 20px;
    height: 20px;
    float: right;
}
#botaoConfiguracao a {
    color: #ffffff;
}
#botaoConfiguracao i:hover {
    color: #e9b310;
    cursor: pointer;
}
#dadosUsuario{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
#dadosUsuario li {
    margin-bottom: 3px;
    margin-left: 165px;
    font-size: 0.95em;
}

/*
**** Estilização corpo do site ****
*/

nav {
    margin-top: 5px;
    margin-left: 50px;
    border-radius: 4px;
    width: 20%;
    float: left;
    position: relative;
    top: 80px;
}
main {
    margin-top: 5px;
    margin-right: 50px;
    width: 69%;
    float: right;
}
.clear {
    clear: both;
}

/* Menu Lateral */

a {
    color: #142147;
    text-decoration: none;
}
nav a:link, nav a:visited {
    background-color: #2E5DA3;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 15px;
    display: block;
}
nav a:hover{
    background-color: #467AB5;
}

/* Eslilo main */
i {
    margin-right: 4%;
    padding-left: 2%;
}
.tituloMain {
    text-align: center;
    padding: 5px;
}
th {
    background-color: #003366;
    border-bottom: 1px solid #ddd;
    color: white;
    text-align: left;
    padding-left: 5px;
}
tr:nth-child(even) {
    background-color: #f4f4f4;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
.nomeRuas {
    width: 100%;
    margin-bottom: 40px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.242);
}
.nomeRuas tr:hover {
    background-color: #ddd;
    border-radius: 3px;
}
.nomeRuas a{
    padding: 10px;
    padding-left: 5%;
    display: block;
}
.espacoTable {
    width: 5%;
}
.renomear a {
    background-color: #2E5DA3;
    color: #ffffff;
    border-radius: 3px;
}
.renomear {
    text-align: center;
    font-size: 0.9em;
    width: 12%;
}
.renomear a:hover {
    background-color: #467AB5;
    color: #f4f4f4;
    border-radius: 3px;
}

/*
**** Caixas de alerta no final da página ****
*/

#areaAtraso {
    border: 2px groove #e9b310;
    border-radius: 7px;
    width: 49%;
    max-height: 200px;
    margin-right: 1%;
    overflow-y: auto;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#areaAtraso h3 {
    background-color: #e9b310;
    color: white;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}
#areaCorte {
    border: 2px groove #F44336;
    border-radius: 7px;
    width: 49%;
    max-height: 200px;
    overflow-y: auto;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#areaCorte h3 {
    background-color: #F44336;
    color: white;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.tabelaAlerta {
    width: 100%;
    margin: 0;
    padding: 0;
}
#tabelaAtraso_wrapper thead th {
    background-color: #e9b310;
}
#tabelaCorte_wrapper thead th {
    background-color: #F44336;
}

#tabelaCorte_wrapper .dataTables_filter {
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    color: white;
    background-color: #F44336;    
}
#tabelaAtraso_wrapper .dataTables_filter {
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    color: white;
    background-color: #e9b310;    
}
.dataTables_filter input {
    width: 365px;
    margin: 5px;
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease;
}

.dataTables_filter input:focus {
    outline: none;
    border-color: #59606b;
    
}

/*
**** Rodapé Main****
*/

footer {
    margin-top: 25px;
    text-align: center;
    font-size: 0.95em;
    border-top: 1.5px solid #467ab54b;
    position:static;
}

/*
**** Estilo arquivo nova-rua ****
*/

#cadastroRua input[type=text] {
    background-color: #ffffff;
    border: none;
    width: 97.3%;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 12px;
    outline-color: #467AB5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.242);
}
#cadastroRua input[type=submit] {
    background-color: #2E5DA3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 8%;
    font-size: 0.9em;
    float: right;
}
#cadastroRua input[type=submit]:hover {
    background-color: #467AB5;
    font-weight: bold;
    cursor: pointer;
}

/*
**** Estilo arquivo membros ****
*/

#tableMembros td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#tableMembros a {
    padding: 3px;
}
#tableMembros a:hover {
    color: #f4f4f4;
    border-radius: 3px;
    box-sizing: border-box;
}
.nomeMembro {
    text-align: left !important;
    padding-left: 5px;
}
.ver {
    width: 7%;
}
.alterar {
    width: 9.5%;
}
.pagar {
    width: 8%;
}
.ativar {
    width: 20%;
}
.excluir {
    width: 9%;
}
.ver a:hover {
    background-color: #333131;
}
.alterar a:hover {
    background-color: #2E5DA3;
}
.pagar a:hover {
    background-color: #088395;
}
.ativar a:hover {
    background-color: #00830b;
}
.excluir a:hover {
    background-color: #F44336;
}

/** Área de filtros **/

#filtros {
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.242);
}
#filtros h4{
    margin: 0;
}
#selecionarFiltro {
    float: left;
}
#selecionarRua {
    margin-top: 5px;
    margin-left: 5px;
}
#selecionarRua select {
    width: 100%;
    padding: 7px;
}
#pesquisar {
    margin-top: 10px;
    float:left
}
#inserirMembro {
    background-color: #00830b;
    border-radius: 4px;
    width: 7%;
    margin: 0;
    padding: 10px;
    float: right;
    cursor: pointer;
}
#inserirMembro a {
    color: #ffffff;
    margin-left: 3px;
}
#pesquisar input[type="search"] {
    width: 198%;
    padding: 7px;
    position: relative;
    top: 53px;
    left: 3%;
}
#pesquisar input[type="submit"] {
    background-color: #2E5DA3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 9px;
    position: relative;
    top: 22px;
    left: 548px;
    cursor: pointer;
}
#pesquisar input[type="submit"]:hover {
    background-color: #467AB5;
}


/*
**** Estilo arquivo novo-membro ****
*/

#cadastroNovoMembro form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.242);
}
#cadastroNovoMembro input[type="text"], #cadastroNovoMembro input[type="tel"], #cadastroNovoMembro input[type="date"],#cadastroNovoMembro input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cadastroNovoMembro label {
    margin-top: 10px;
    display: block;
}
#cadastroNovoMembro button {
    width: 40%;
    background-color: #2E5DA3;
    color: white;
    margin: auto;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    display: block;
}
#cadastroNovoMembro button:hover {
    background-color: #467AB5;
}

/*
**** Arquivo pagar ****
*/

#tabelaPagamentos td, #tabelaPagamentos th {
    padding: 5px;
}
#valor-pag-box {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#mes-pag-box {
    border: 1px groove #2e5da362;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
#confirmarPagamento {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.242);
}
#confirmarPagamento input[type="number"] {
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 7px;
}
#confirmarPagamento input[type="submit"] {
    background-color: #2E5DA3;
    color: #ffffff;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 9px;
    height: 2.7em;
}
#confirmarPagamento input[type="submit"]:hover {
    background-color: #467AB5;
    cursor: pointer;
}
#confirmarPagamento select {
    border-radius: 7px;
}
#input-apurar-mes {
    margin-left: 35%;
}

/*
*** Estilo Arquivo Despesas ***
*/

.controleDespesa {
    padding: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

h2, #consultarDespesas h3, .controleDespesa h3 {
    text-align: center;
}
h4, p {
    margin: 0;
}

#formDespesa input[type="text"], input[type="number"], input[type=""] {
    width: calc(78%);
    padding: 10px;
    margin-bottom: 10px;
}
#filtrarDespesas select {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    width: auto;
    border-radius: 4px;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #094581;
}
#blocoCateg input {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
}
#blocoData {
    margin-left: 18.5%;
    float: left;
}
#blocoData input {
    padding: 10px;
    margin-bottom: 10px;
}
#consultarDespesas {
    margin-top: 4%;
    padding: 2%;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
select {
    width: 30%;
    padding: 10px;
    margin-bottom: 3%;
}
#exibeDespesas {
    background-color: #fff;
    border: 2px inset #00336669;
    border-radius: 7px;
    padding: 10px;
    height: 181px;
    overflow: auto;
}

/*
*** Estilo Arquivo Balanco ***
*/

.grafico-container {
    padding: 2px;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.242);
    background-color: #fff; /* opcional, mas ajuda a destacar */
}
#graficoMeses svg, #graficoCategorias svg {
    border-radius: 7px;
}
#incicadores-container {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.indicador-box {
      display: flex;
      align-items: center;
      background: #f9f9f9;
      border-radius: 12px;
      padding: 10px 15px;
      width: fit-content;
      margin: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.242);
      font-family: Arial, sans-serif;
      margin-right: 30px ;
    }

    .icon-circle {
      color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .text-container {
      display: flex;
      flex-direction: column;
    }
    .text-container .label {
      font-size: 12px;
      color: #1421478c;
      letter-spacing: 1px;
      text-align: right;
    }

    .text-container .value {
      font-size: 16px;
      font-weight: bold;
      text-align: right;
    }
    .verde {
        background-color: #2eb133;
    }
    .vermelho {
        background-color: #F44336;
    }
    .azul {
        background-color: #0e68f0/*#2196f3*/;
    }
    .verde-text {
        color: #2eb133;
    }
    .vermelho-text {
        color: #F44336;
    }
    .azul-text {
        color: #0e68f0;
    }

/*
*** Estilo Arquivo Configuração ***
*/

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}
.container h3 {
    text-align: center;
    padding: 5px;
}
.section {
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.242);
}
.section input, .section select {
    width: 97.5%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #142147;
}
.section button {
    background-color: #2E5DA3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.section button:hover {
    background-color: #467AB5;
}
